#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 80vw;
    max-width: 1500px;
    margin: auto;
    margin-bottom: 50px;
}

.project {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project:hover {
    width: 98%;
    height: 98%;
    margin: auto;
    border: 3px solid var(--primary-blue-color);
}

.large {
    grid-column: 1 /span 2;
    justify-self: stretch;
}

.project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}