@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: rgb(75, 75, 75);
    scrollbar-width: none;
}

@keyframes slideRight {
    from {
        opacity: 0;
        left: -10vw;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

#navPane {
    width: 30vw;
    max-width: 597px;
    height: 100vh;
    position: fixed;
    margin: 0;
    background-image: linear-gradient(45deg, #84fab0 0%, #8fd3f4 70%);
    padding-left: 3vw;
    padding-top: 15vh;
    z-index: 3;
}

#full-navbar {
    position: relative;
    /* height: 80vh; */
}

#titleText {
    font-weight: 600;
    font-size: 3.5vw;
    line-height: 50%;
    margin-top: 50px;
}

#subtitleText {
    font-weight: 500;
    font-size: 2.5vw;
    line-height: 0;

}

.animate {
    position: relative;
    animation: slideRight 2s;
}

#navList {
    padding: 0;
    list-style-type: none;
}

nav ul {
    list-style: none;
    line-height: 10vh;
    width: 30vw;
}

nav a {
    font-size: 2vw;
    color: inherit;
    text-decoration: none;
}

nav a:hover {
    font-size: 2.25vw;
}

.content-area {
    width: 67vw;
    max-width: 1333px;
    float: right;
    min-height: 100vh;
}

#logo {
    position: absolute;
    width: 80%;
    max-width: 250px;
    height: auto;
    left: 20px;
    top: 20px;
}

@media screen and (min-width: 2100px) {
    
    @keyframes slideRight {
        from {
            opacity: 0;
            left: -1.5vw;
        }
        to {
            opacity: 1;
            left: 0;
        }
    }

    body {
        max-width: 2100px;
        margin: auto;
    }

    #navPane {
        padding-left: 70px;
    }

    .content-area {
        float: left;
        margin-left: 680px;
    }

    #titleText {
        font-size: 80px;
    }

    #subtitleText {
        font-size: 50px;
    }

    nav a {
        font-size: 40px;
    }
    
    nav a:hover {
        font-size: 50px;
    }
}

@media (orientation: portrait) {
    #navPane {
        width: 100vw;
        max-width: none;
        height: 70px;
        padding: 15px 0;
    }

    .animate {
        animation: none;
    }

    #logo {
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
        display: none;
    }

    #titleText {
        font-size: xx-large;
        margin-top: 8px;
        width: 100vw;
        text-align: center;
    }

    #subtitleText {
        display: none;
    }
    
    nav ul {
        line-height: unset;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: auto;
    }

    nav a {
        font-size: small;
    }

    nav a:hover {
        font-size: medium;
    }

    /* TODO: Correct responsiveness for shorter phones */
    .content-area {
        width: 100vw;
        float: unset;
        padding-top: 100px;
        min-height: calc(100vh - 100px);
    }
}