#formContainer {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.blue-border {
    border: solid 3px #8fd3f4;
    border-radius: 5px;
}

.name-inputs{
    width: 18vw;
    height: 5vh;
}

.label-and-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#names-section {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    width: 40vw;
}

label {
    text-align: left;
    padding-left: 20px;
    width: 100%;
}

input {
    margin: 5px;
}

textarea {
    margin: 8px 0 20px 0;
    width: 38vw;
    height: 30vh;
    resize: none;
    padding: 10px;
}

::placeholder {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgb(126, 126, 126);
    font-size: 20px;
}

#submit {
    background-color: #a4e1ff;
    width: 18vw;
    height: 30px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    color: rgb(75, 75, 75);
}

#submit:hover {
    cursor: pointer;
    background-color: #84fab0;
}

#submit:active {
    box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, .1);
}