#formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1 0 auto;
}

form {
    width: 80%;
}

.blue-border {
    border: solid 3px #8fd3f4;
    border-radius: 5px;
}

.name-inputs{
    width: 99%;
    height: 40px;
    margin: 0;
    padding: 0;
}

.label-and-input{
    border: 0;
    padding: 0;
    margin: 0;
    text-align: left;
}

#names-section .label-and-input {
    width: 40%;
}

#names-section {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

label {
    text-align: left;
    width: 100%;
}

textarea {
    width: 100%;
    height: 200px;
    resize: none;
    margin-bottom: 20px;
}

::placeholder {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgb(126, 126, 126);
}

#submit {
    background-color: #a4e1ff;
    width: 200px;
    height: 30px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    color: rgb(75, 75, 75);
}

#submit:hover {
    cursor: pointer;
    background-color: #84fab0;
}

#submit:active {
    box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, .1);
}

#social-icons-group {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    flex: none;
    margin: 20px;
    align-self: flex-end;
    align-items: center;
}

.social-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

@media (orientation: portrait) {
    
    #names-section .label-and-input {
        width: 45%;
    }
    
    form {
        width: 90%;
    }

    #formContainer {
        align-items: unset;
        flex: unset;
    }
}