html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: rgb(75, 75, 75);
}

.navPane{
    width: 100vw;
    height: 30px;
    position: fixed;
    margin: 0;
    background-image: linear-gradient(to right, #fff1eb 0%, #ace0f9 100%);
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
}

.titleText {
    font-weight: 600;
    line-height: 110%;
    width: 150px;
    height: 30px;
    margin-top: 0;
    margin-left: 10px;
}

.subTitle {
    font-weight: 400;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: calc(100vw - 150px);
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav a:hover {
    font-size: 110%;
}

#abigailOnThunderbird {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -10;
}

#bio {
    width: 80vw;
    height: auto;
    position: absolute;
    margin: 90vh 0 0 5vw;
    background-color: #fff1eb;
    text-align: justify;
    padding: 20px;
}

#music {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.musicIcons {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

#imgGallery {
    width: 100vw;
    margin-top: 80px;
    padding: 0;
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.annaPhoto {
    width: 25vw;
    height: 25vw;
    object-fit: cover;
    margin: 20px 0;
    max-width: 500px;
    max-height: 500px;
    border: solid 4px lightgray;
}

.annaPhoto:hover {
    width: 27vw;
    height: 27vw;
}
    
#formContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.names{
    width: 130px;
    height: 5vh;
    border: solid 3px #ace0f9;
    border-radius: 5px;
}

input {
    margin: 5px;
}

textarea {
    border: solid 3px #ace0f9;
    border-radius: 5px;
    margin: 20px;
    width: 290px;
    height: 30vh;
    resize: none;
    padding: 10px;
}

::placeholder {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: lightgray;
    font-size: 15px;
}

#submit {
    background-color: #fff1eb;
    width: 150px;
    height: 30px;
    border: solid 3px lightgray;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    color: rgb(75, 75, 75);
}

#submit:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, .1);
}

@media screen and (max-width: 480px) {
    header {
        flex-direction: column;
    }

    .navPane {
        height: 70px;
        padding: 10px 0;
    }

    nav {
        width: 100vw;
    }

    .titleText {
        text-align: center;
        width: 100vw;
        margin-left: 0;
    }

    form {
        height: calc(100vh - 80px);
        margin-top: 80px;
    }

    .musicIcons {
        width: 50px;
        height: 50px;
        margin-right: 15px;
    }

}