#portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img-container {
    max-width: 420px;
    max-height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.portfolio-img {
    max-width: 400px;
    max-height: 400px;
    width: 25vw;
    height: 25vw;
    object-fit: cover;
    border: 5px solid lightgrey;
    margin: 10px;
}

.portfolio-img:hover {
    border: 5px solid #ace0f9;
    width: 27vw;
    height: 27vw;
    max-width: 420px;
    max-height: 420px;
    margin: 0;
}

.portfolio-item {
    width: 60%;
    height: auto;
    max-width: 700px;
    margin: 40px;
}

.portfolio-item-set {
    width: 60%;
    max-width: 700px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-item-set .portfolio-item {
    margin: 0 0 40px 0;
    width: 100%;
}

.portfolio-item-info {
    width: 30%;
    margin-top: 40px;
}

.portfolio-item-info h2 {
    line-height: 0;
}

#flex-content {
    display: flex;
    align-items: flex-start;
}

@media (orientation: portrait) {
    
    .portfolio-img {
        width: 40vw;
        height: 40vw;
        border: 3px solid lightgrey;
    }

    .portfolio-img:hover {
        width: 45vw;
        height: 45vw;
        border: 3px solid #ace0f9;
    }

    #flex-content {
        flex-direction: column;
    }

    .portfolio-item {
        margin: 20px auto 0 auto;
        width: 80%;
    }

    .portfolio-item-info {
        padding-left: 20px;
        width: 90vw;
        margin-top: 20px;
    }

    .portfolio-item-set {
        width: 80%;
        margin: 20px auto 0 auto;
    }
}